div#map

ul#legend
  li.term-less 
    b
    span Less than 50 years
  li.term-50
    b
    span 50 years
  li.term-middle
    b
    span Between 50 and 70 years
  li.term-70
    b
    span 70 years
  li.term-more
    b
    span More than 70 years
