/*
 * Config
 */
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

/*
 * Thing styles
 */
svg
  background-color: $qz-map-water

.borders path
  stroke: $qz-map-land-stroke
  stroke-width: 1px
  fill: $qz-map-land-fill

  // #51b2e5, #b4d8e3, #ffffe0, #e9c8cb, #d190b6

  &.term-less
    fill: #51b2e5

  &.term-50
    fill: #b4d8e3

  &.term-middle
    fill: #ffffe0

  &.term-70
    fill: #e9c8cb

  &.term-more
    fill: #d190b6

  &#US1
    fill: url(#diagonal-stripe-1) blue;


#footer
  fill: $qz-gray-2
  font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif

/*
 * Media queries
 */
@media screen and (max-width: 600px)
  .borders path
    stroke-width: 0.5px

  #footer
    font-size: 60%
